@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');

/*GENERAL ---------------------------------------------------------*/
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#interface {
    width: 100svw;
    max-width: 700px;
    height: 100svh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

/*TOP MENU ---------------------------------------------------------*/
#topMenu {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#topMenu_prim {
    width: 100%;
    height: 5svh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#topMenu_sec {
    width: 100%;
    display: flex;
    gap: 5px;
    transition: transform 0.3s;
    position: relative;
    padding: 15px;
    padding-top: 0;
    border-bottom: 1px solid rgb(235, 235, 235);
    box-shadow: 0 0 3px rgb(235, 235, 235);
}
#topMenu.ending {
    border-bottom: 1px solid rgb(235, 235, 235);
    box-shadow: 0 0 3px rgb(235, 235, 235);
}
#search {
    width: 100%;
    height: 100%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}
#search_inp {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(100, 100, 255);
    border-width: 1px 1px 1px 0;
    border-radius: 0 10px 10px 0;
    outline: none;
    padding-right: 5px;
}
#search_icon {
    font-size: 14pt;
    border: 1px solid rgb(100, 100, 255);
    border-width: 1px 0 1px 1px;
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 5svh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
#search_go {
    font-size: 14pt;
    background-color: rgb(100, 100, 255);
    border: 1px solid rgb(100, 100, 255);
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    height: 100%;
    width: 5svh;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#categories {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: scroll;
}
#categories::-webkit-scrollbar {
    display: none;
}
#categories .cat {
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    border: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    text-wrap: nowrap;
}
#categories .cat.active {
    background-color: rgb(100, 100, 255);
    color: white;
}
#categories .cat:active {
    background-color: rgb(25, 25, 255);
    color: white;
}
#cart {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 5px;
    font-size: 24pt;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 5svh;
    width: 5svh;
    background-color: white;
    transition: 0.3s;
}
#cart:active {
    background-color: rgb(235, 235, 235);
    color: rgb(25, 25, 255);
    transition: none;
}

/*MIDDLE ---------------------------------------------------------*/
#middle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: calc(8svh + 30px);
    padding-top: 0px;
}
#middle::-webkit-scrollbar {
    width: 5px;
}
#middle::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border-radius: 5px 0 0 5px;
}

/*PRODUCTS ZONE---------------------------------------------------*/
#prodZone {

}

/*BOTTOM MENU ---------------------------------------------------------*/
#bottomMenu {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 15px;
    padding: 0;
    border-radius: 15px;
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(100, 100, 255);
    height: 8svh;
    box-shadow: 0 0 5px rgb(200, 200, 200);
}
#bottomMenu button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    font-size: 10pt;
    width: 100%;
    padding: 5px;
    transition: 0.3s;
}
#bottomMenu button:active {
    color: rgb(25, 25, 255);
    background-color: rgb(235, 235, 235);
    transition: none;
}
#bottomMenu button i {
    font-size: 24pt;
}