/*TOP MENU SEC------------------------------------------------------*/
#topMenu_sec {
    width: 100%;
    display: flex;
    gap: 5px;
    transition: transform 0.3s;
    position: relative;
    padding: 15px;
    padding-top: 0;
    border-bottom: 1px solid rgb(235, 235, 235);
    box-shadow: 0 0 3px rgb(235, 235, 235);
    background-color: white;
}
#categories {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: scroll;
}
#categories::-webkit-scrollbar {
    display: none;
}
#categories .cat {
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    border: none;
    padding: 5px 10px 5px 10px;
    text-wrap: nowrap;
}
#categories .cat.active {
    background-color: rgb(100, 100, 255);
    color: white;
}
#categories .cat:active {
    background-color: rgb(25, 25, 255);
    color: white;
}

/*PRODUCTS ZONE---------------------------------------------------*/
#prodZone_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-bottom: 0;
}
#selFilters {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 14pt;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    transition: background-color 0.7s, color 2s;
}
#selFilters:active {
    background-color: rgb(200, 200, 200);
    color: rgb(25, 25, 255);
    transition: none;
}
#selFilters.active {
    color: rgb(25, 25, 255);
    border-radius: 10px 10px 0 0;
}
#selFilters.active {
    color: rgb(25, 25, 255);
    border-radius: 10px 10px 0 0;
}
#selFilters_cont {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 5px black;
    padding: 15px;
    border-radius: 10px;
    gap: 15px;
    display: none;
}
#prodZone {
    width: 100%;
    padding: 15px;
    padding-bottom: calc(8svh + 30px);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 5px;
}
.line {
    display: flex;
    width: 100%;
    height: 30svh;
    gap: 5px;
}
.fItem {
    width: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
}
.item {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
}
.item .imgCont {
    height: 25svh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgb(200, 200, 200);
    background-image: linear-gradient(to top left, rgb(200, 200, 200), rgb(235, 235, 235))
}
.item .imgCont .frontImg {
    width: 115%;
    image-rendering: optimizeSpeed;
}
.item .imgCont .rPrice {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 10px 0 10px;
    padding-inline: 5px;
    color: white;
    background-color: rgb(100, 100, 255);
    z-index: 3;
}
.item .prodInfo {
    height: 5svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: 10px;
    padding-inline: 15px;
    margin: 0;
    line-height: 100%;
}
.item .sellerInfo {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 0;
    padding-inline: 15px;
}
.item .sellerInfo .price {
    font-size: 14pt;
    color: rgb(100, 100, 255);
}
.item .sellerInfo .price .cifao {
    font-size: 12pt;
}
.item .sellerInfo .estrela {
    color: gold;
}