@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

body * {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
}

html {
    font-size: 4.5pt;
}

#cellbody {
    width: 100vw;
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}