button {
    border-radius: 15px;
    border: 0;
    font-size: 11pt;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
}

#headerTop {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid grey;
}
#headerTop .inputZone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 3px solid rgb(60, 60, 255);
    margin-right: 4px;
    border-radius: 15px;
    height: 50px;
    position: relative;
    overflow: hidden;
    max-width: 700px;
}
#headerTop .inputZone input {
    height: 100%;
    width: 80%;
    border: none;
    font-size: 11pt;
    text-align: center;
    background-color: transparent;
    outline: none;
    position: absolute;
}
#headerTop .inputZone button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
    z-index: 1;
    position: absolute;
    right: 0;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    transition: background-color 1s;
}
#headerTop .inputZone button:active {
    background: lightgrey;
    transition: 0s;
}
#headerTop button#config {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    transition: background-color 1S;
}
#headerTop button#config .material-symbols-outlined {
    font-size: 24pt;
    color: rgb(51, 51, 51);
}
#headerTop button#config:active {
    background-color: lightgrey;
    transition: 0s;
}

#categorias {
    display: flex;
    margin-top: 15px;
    right: 0;
    overflow-x: scroll;
    padding-bottom: 4px;
    scroll-behavior: smooth;
    position: relative;
}
#categorias::-webkit-scrollbar {
    height: 4px;
    background-color: transparent;
}
#categorias::-webkit-scrollbar-thumb {
    background-color: rgb(230, 230, 230); 
    border-radius: 5px;
}
#categorias button {
    font-size: 10pt;
    white-space: nowrap;
    margin-right: 4px;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
    transition: background-color 1s;
    color: black;
}
#categorias button:last-child {
    margin-right: 0;
}
#categorias button.selected {
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(25, 25, 255), rgb(100, 100, 255));
    color: white;
}
#categorias button:active {
    background-color: lightgray;
    outline: none;
    transition: 0s;
}

#middle {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow-y: scroll;
}
#middle .resInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    text-align: left;
    margin-bottom: 15px;
    outline: none;
}
#middle .resInfo select {
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
}
#middle::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}
#middle::-webkit-scrollbar-thumb {
    background-color: lightgrey; 
    border-radius: 3px 0 0 3px;
}
#prod_results {
    transition: opacity 1s;
}
#prod_results .line {
    justify-content: space-between;
    margin-bottom: 5px;
}
#prod_results .line:last-child {
    margin-bottom: 0px;
}
#prod_results .cardItem {
    width: 100%;
    margin-right: 5px;
    border: 1px solid lightgray;
    border-radius: 15px;
    transition: box-shadow 1s;
}
#prod_results .cardItem:last-child {
    margin-right: 0;
}
#prod_results .cardItem:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: 0s;
}
#prod_results .cardItem .top {
    width: 100%;
    height: 125px;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
}
#prod_results .cardItem .top img {
    width: 100%;
}
#prod_results .cardItem .info {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#prod_results .cardItem .info .itemInfo {
    font-size: 10pt;
}
#prod_results .cardItem .info .item_title {
    font-weight: bold;
}
#prod_results .cardItem .info .item_oldPrice {
    color:rgb(190, 30, 30);
    font-size: 8pt;
    text-decoration: line-through;
}
#prod_results .cardItem .info .item_price {
    color:rgb(60, 60, 255);
}

#prod_results .cardItem .info .sellerInfo {
    margin-top: 5px;
    font-size: 8pt;
    color: grey;
}
#prod_results .cardItem .info .seller_rating {
    color: rgb(230, 170, 0);
}