main {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    display: flex;
    justify-content: center;
    width: 100%;
}
button {
    border-radius: 15px;
    border: 0;
    font-size: 11pt;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#headerTop {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#headerTop input {
    width: 100%;
    height: 50px;
    margin-right: 15px;
    border-radius: 15px;
    font-size: 11pt;
    text-align: center;
    border: 3px solid rgb(60, 60, 255);
    background-color: transparent;
    outline: none;
}
#headerTop button#profile {
    width: 50px;
    height: 50px;
    font-size: 24pt;
    background-color: transparent;
    border: 3px solid lightgray;
}

#categorias {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    right: 0;
    overflow-x: hidden;
    position: relative;
}
#categorias button {
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
}
#categorias button.selected {
    background-image: linear-gradient(to right, rgb(25, 25, 255), rgb(100, 100, 255));
    color: white;
}

#resultados {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow-y: scroll;
}
#resultados .resInfo {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: end;
    margin-bottom: 15px;
    outline: none;
}
#resultados .resInfo select {
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
}
#resultados::-webkit-scrollbar {
    width: 0px;
}
#resultados .line {
    justify-content: space-between;
    margin-bottom: 15px;
}
#resultados .line:last-child {
    margin-bottom: 0px;
}
#resultados .cardItem {
    width: 100%;
    margin-right: 15px;
    border: 1px solid lightgray;
    border-radius: 15px;
    transition: box-shadow 1s;
}
#resultados .cardItem:last-child {
    margin-right: 0;
}
#resultados .cardItem:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: 0s;
}
#resultados .cardItem .top {
    width: 100%;
    height: 125px;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
}
#resultados .cardItem .top img {
    width: 100%;
}
#resultados .cardItem .info {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#resultados .cardItem .info .itemInfo {
    font-size: 10pt;
}
#resultados .cardItem .info .item_title {
    font-weight: bold;
}
#resultados .cardItem .info .item_oldPrice {
    color:rgb(194, 29, 29);
    font-size: 8pt;
    text-decoration: line-through;
}
#resultados .cardItem .info .item_price {
    color:rgb(60, 60, 255);
}

#resultados .cardItem .info .sellerInfo {
    margin-top: 5px;
    font-size: 8pt;
    color: grey;
}
#resultados .cardItem .info .seller_rating {
    color: rgb(200, 150, 0);
}

footer {
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer button {
    width: 25%;
    height: 100%;
    padding-block: 5px;
    border-radius: 0;
    font-size: 8pt;
    transition: background-color 1s;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
footer button:active {
    background-color: lightgrey;
    transition: 0s;
}
footer button .sym {
    width: 40px; 
    height: 40px; 
    padding: 5px;
}