main {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    display: flex;
    justify-content: center;
    width: 100%;
}
button {
    border-radius: 15px;
    border: 0;
    font-size: 11pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerTop {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    padding: 15px;
}
#headerTop input {
    width: 100%;
    height: 50px;
    margin-right: 15px;
    border-radius: 15px;
    font-size: 11pt;
    text-align: center;
    border: 3px solid rgb(60, 60, 255);
    background-color: transparent;
    outline: none;
}
#headerTop button#profile {
    width: 50px;
    height: 50px;
    font-size: 24pt;
    background-color: transparent;
    border: 3px solid lightgray;
}

#categorias {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#resultados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 15px;
}
#resultados .line {
    justify-content: space-between;
}
#resultados .cardItem {
    margin-right: 15px;
    border: 1px solid lightgray;
    border-radius: 15px;
}
#resultados .cardItem:last-child {
    margin-right: 0;
}
#resultados .cardItem .top {
    width: 100%;
    height: 125px;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
}
#resultados .cardItem .top img {
    width: 100%;
}
#resultados .cardItem .info {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#resultados .cardItem .info .itemInfo {
    font-size: 10pt;
}
#resultados .cardItem .info .item_title {
    font-weight: bold;
}
#resultados .cardItem .info .item_oldPrice {
    color:rgb(194, 29, 29);
    font-size: 8pt;
    text-decoration: line-through;
}
#resultados .cardItem .info .item_price {
    color:rgb(60, 60, 255);
}

#resultados .cardItem .info .sellerInfo {
    margin-top: 5px;
    font-size: 8pt;
    color: grey;
}
#resultados .cardItem .info .seller_rating {
    color: rgb(200, 150, 0);
}

footer {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

footer button {
    width: 25%;
    height: 100%;
    border-radius: 0;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgrey;
    font-size: 8pt;
    transition: background-color 1s;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
footer button:last-child {
    border-right: none;
}
footer button:active {
    background-color: lightgray;
    transition: 0s;
}
footer button .sym {
    width: 40px; 
    height: 40px; 
    padding: 5px;
}