main {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 100%;
    border-bottom: 1px solid black;
}
#top #select_type {
    display: flex;
}

#middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95%;
    width: 100%;
    padding: 15px;
}

button {
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color: rgb(230, 230, 230);
    font-size: 11pt;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
button.selected {
    background-color: rgb(60, 60, 255);
    border: 1px solid black;
    color: white;
}

#creating #productZone, 
#creating #sellerZone {
    display: flex;
    flex-direction: column;
}
#createNewProduct,
#createNewSeller {
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 10pt;
}
#createNewProduct div,
#createNewSeller div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-block: 3px;
}
#createNewProduct input,
#createNewProduct select,
#createNewSeller input,
#createNewSeller textarea,
#createNewSeller select {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    width: 60%;
    padding-inline: 5px;
    font-size: 10pt;
}
#createNewSeller textarea {
    resize: vertical;
    font-size: 8pt;
}
div.add_new input:focus,
div.add_new select:focus {
    border-color: black;
    background-color: white;
}